In [10]:
import glob as gl
import pandas as pd

In [11]:
list_file = gl.glob("D:/Documents/ds*.csv")
list_file

['D:/Documents\\ds3.csv', 'D:/Documents\\ds_02.csv', 'D:/Documents\\ds_1.csv']

In [12]:
lst_data=[]
for file in list_file:
    df_temp=pd.read_csv(file)
    lst_data.append(df_temp)

In [13]:
df_all=pd.concat(lst_data,ignore_index=True)
df_all

  Hoten  Dienthoai
0   ltd     666555
1   nvc     444555
2   nva     111222
3   nvb     222333