In [20]:
pip install matplotlib seaborn

Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.0-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.0.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.8 MB 932.9 kB/s eta 0:00:08
   ---- ----------------------------------- 0.8/7.8 MB 958.5 kB/s eta 0:00:08
   ---- ----------------------------------- 0.8/7.8 MB 958.5 kB/s eta 0:00:08
   ----- ---------------------------------- 1.0/7.8 MB 968.5 kB/s eta 0:00:08
   ----- ---------------------------------- 1.0/7.8 MB 968.5 kB/s eta 0:00:08
   ------ --------------------------------- 1.3/7.8 MB 762.6 kB/s eta 0:00:09
   ------ --------------------------------- 1.3/7.8 MB 762.6 kB/s eta 0:00:09
   ------ --------------------------------- 1.3/7.8 MB 762.6 kB/s eta 0:00:09
   -------- ------------------------------- 1.6/7.8 MB 665.7 kB/s eta 0:00:10
   -------- ------------------------------- 1.6/7.8 MB 665.7 kB/s eta 0:00:10
   -------- ------------------------------- 1.6/7.8 MB 665.7 kB/s eta 0:00:10
   --------- ------------------------------ 1.8/7.8 MB 621.4 kB/s eta 0:00:10
   --------- ------------------------------ 1.8/7.8 MB 621.4 kB/s eta 0:00:10
   ---------- ----------------------------- 2.1/7.8 MB 605.4 kB/s eta 0:00:10
   ---------- ----------------------------- 2.1/7.8 MB 605.4 kB/s eta 0:00:10
   ------------ --------------------------- 2.4/7.8 MB 604.5 kB/s eta 0:00:10
   ------------ --------------------------- 2.4/7.8 MB 604.5 kB/s eta 0:00:10
   ------------- -------------------------- 2.6/7.8 MB 608.9 kB/s eta 0:00:09
   ------------- -------------------------- 2.6/7.8 MB 608.9 kB/s eta 0:00:09
   -------------- ------------------------- 2.9/7.8 MB 616.8 kB/s eta 0:00:09
   -------------- ------------------------- 2.9/7.8 MB 616.8 kB/s eta 0:00:09
   ---------------- ----------------------- 3.1/7.8 MB 629.9 kB/s eta 0:00:08
   ----------------- ---------------------- 3.4/7.8 MB 633.1 kB/s eta 0:00:07
   ----------------- ---------------------- 3.4/7.8 MB 633.1 kB/s eta 0:00:07
   ------------------ --------------------- 3.7/7.8 MB 632.3 kB/s eta 0:00:07
   ------------------ --------------------- 3.7/7.8 MB 632.3 kB/s eta 0:00:07
   -------------------- ------------------- 3.9/7.8 MB 647.0 kB/s eta 0:00:07
   --------------------- ------------------ 4.2/7.8 MB 660.5 kB/s eta 0:00:06
   ---------------------- ----------------- 4.5/7.8 MB 674.4 kB/s eta 0:00:06
   ------------------------ --------------- 4.7/7.8 MB 688.9 kB/s eta 0:00:05
   ------------------------ --------------- 4.7/7.8 MB 688.9 kB/s eta 0:00:05
   ------------------------- -------------- 5.0/7.8 MB 702.3 kB/s eta 0:00:05
   -------------------------- ------------- 5.2/7.8 MB 718.0 kB/s eta 0:00:04
   ---------------------------- ----------- 5.5/7.8 MB 731.0 kB/s eta 0:00:04
   ----------------------------- ---------- 5.8/7.8 MB 744.9 kB/s eta 0:00:03
   ------------------------------ --------- 6.0/7.8 MB 757.9 kB/s eta 0:00:03
   -------------------------------- ------- 6.3/7.8 MB 770.2 kB/s eta 0:00:03
   --------------------------------- ------ 6.6/7.8 MB 783.4 kB/s eta 0:00:02
   ---------------------------------- ----- 6.8/7.8 MB 795.9 kB/s eta 0:00:02
   ------------------------------------- -- 7.3/7.8 MB 825.1 kB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 840.4 kB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 851.6 kB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.2 MB 2.2 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.2 MB 2.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 2.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Downloading pillow-11.0.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.6 MB 2.8 MB/s eta 0:00:01
   ---------------- ----------------------- 1.0/2.6 MB 3.0 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 2.0 MB/s eta 0:00:00
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.0 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-11.0.0 pyparsing-3.2.0 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
test = pd.read_csv("D:/Thu thập & tiền xử lý dữ liệu/Đề Classroom/Titanic/test.csv")
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [12]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

# Tóm tắt thuộc tính bị thiếu

In [ ]:
missing_data = test.isnull().sum()

In [14]:
missing_data_summary = missing_data[missing_data > 0].reset_index()

In [15]:
missing_data_summary.columns = ['Attribute', 'Missing Values']

In [16]:
missing_percentage = (missing_data / len(test)) *100 
missing_info = pd.DataFrame({
    'Column Name': missing_data.index,
    'Missing Count': missing_data.values,
    'Missing Percentage': missing_percentage.values
})

In [17]:
missing_info

    Column Name  Missing Count  Missing Percentage
0   PassengerId              0            0.000000
1        Pclass              0            0.000000
2          Name              0            0.000000
3           Sex              0            0.000000
4           Age             86           20.574163
5         SibSp              0            0.000000
6         Parch              0            0.000000
7        Ticket              0            0.000000
8          Fare              1            0.239234
9         Cabin            327           78.229665
10     Embarked              0            0.000000

# Biểu diễn